
section{
    margin: 2% 0;
    min-height: calc(100vh - 3rem);
}


section .categories ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 4%;

}

section .categories ul li{
    position: relative;
   color: #999;
    padding: 8px 20px;
    margin: 5px;
    cursor: pointer;
}

section .categories ul li::before {
    content: "";
    position: absolute;
    width: 87%;
    height: 2px;
    bottom: 0;
    left: 10%;
    background-color: #ccc;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
    
  }

 section .categories ul li.active::before {
    visibility: visible;
    transform: scaleX(1);
  }
section .categories ul li i{
    padding-right: 10px;
}

section .categories ul li:hover{
    color: #000;
}
section .categories ul li:hover > i{
    color: #c5edfa;
    
}
section  .categories ul li.active{
    transition: .3s;
    color: #000;
}
section  .categories ul li.active > i{
    color: #c5edfa;
}
section .projects{
    display: flex;
    margin-top: 2%;
    flex-wrap: wrap;
    justify-content: space-around;
    /* padding-left: calc(max(50px, 3vw)); */
}

.sliders{
    position: absolute;
    bottom: 5px;
    left: 60%;
    transform: translateX(-50%);
}

.sliders .tap{
    position: relative;
    height: 10px;
    width: 50px;
    background: #d9d9d9; 
    z-index: 1000;
    border-radius: 5px;
    display: inline-flex;
    margin: 0 3px;
    cursor: pointer;
}

.sliders .tap.testing{
    background-color: blue;
}

.sliders .tap:before{
    position: absolute;
    content:'';
    top:0;
    left:0;
    height:100%;
    width: -100%;
    background: blue;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .3s;
    transform-origin: left;
}

.sliders .tap:hover:before{
    transform: scaleX(1);
    width: 100%;
}
img{
    width: 100%;
}

.card{
    width: 100%;
    max-width: 550px;
    /* padding:2rem 5rem;
    padding-right: 0; */
    padding:1rem;
    background: #fff;
    box-shadow: 0 .05rem 1rem rgba(0,0,0,.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .8rem;
    position: relative;
    padding-bottom: 30px;
    
    
}

/* .card:nth-child(odd){
   
    margin-right: 4rem;
} */

.card:hover{
    transform: scale(1.01);
}

.right-content{
    display: flex;
    justify-content: space-between;
    
}

.test{
    position: absolute;
}
.card .imgBox{
    min-width: 12rem;
    max-width:12rem;
    /* transform: translateX(-8rem); */
    position: relative;
}

.card .imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: block; */
    border-radius: .8rem;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,.05);

}

/* .card .imgBox::before{
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 242, 254, .5);
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,.05);
    border-radius: .8rem;
} */

.card .card-info{
    /* margin-left: -6rem; */
    /* align-self: end; */
    margin-left: 20px;
}

.date-and-categories, .card h2{
    margin-bottom: 10px;
}

.testing{
    background-color: red;
}
.card a{

    color: #aaa;
}
.date-and-categories ul{
    display: flex;
}

.date-and-categories ul li{
    margin-right: 5px;
}

.card p{
    font-size: 14px;
    /* padding-right: 30px; */
}

.card ul li{
    font-size: 12px;
}

@media only screen and (max-width: 1220px){
    .card{
        margin: 1rem 4rem;
    }
}

@media only screen and (max-width: 655px){
    .projects{
        justify-content: center;
        align-items: center;
        padding-left: 0;
        
    }
    
   .card{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 30px;
       /* margin: 3rem 0; */
       margin-left: 0;
       margin-top: 2.5rem;
      
   }
   .card .card-info{
        margin-left: 0;
    }

    .card .imgBox{
        min-width: 15rem;
        max-width:15rem;

        transform: translate(0, -3rem);
    
        position: relative;
    }
    

}