
section{
    margin: 2% 4%;
    min-height: calc(100vh - 3rem);
}


section .categories ul{
    display: flex;
    flex-wrap: wrap;

}

section .categories ul li{
    position: relative;
   color: #999;
    padding: 8px 20px;
    margin: 5px;
    cursor: pointer;
}

section .categories ul li::before {
    content: "";
    position: absolute;
    width: 87%;
    height: 2px;
    bottom: 0;
    left: 10%;
    background-color: #ccc;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

 section .categories ul li.active::before {
    visibility: visible;
    transform: scaleX(1);
  }
section .categories ul li i{
    padding-right: 10px;
}

section .categories ul li:hover{
    color: #000;
}
section .categories ul li:hover > i{
    color: #c5edfa;
    
}
section  .categories ul li.active{
    transition: .3s;
    color: #000;
}
section  .categories ul li.active > i{
    color: #c5edfa;
}
section .projects{
    display: flex;
    margin-top: 2%;
    flex-wrap: wrap;
}

.projects{
    padding-left: calc(max(50px, 3vw));
}
img{
    width: 100%;
}

.card{
    width: 100%;
    max-width: 550px;
    padding:2rem 5rem;
    padding-right: 0;
    background: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
    position: relative;
}


.card .imgBox{
    min-width: 12rem;
    max-width:12rem;
    transform: translateX(-8rem);
    position: relative;
}

.card .imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card .imgBox::before{
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 242, 254, .5);
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,.05);
}

.card .card-info{
    margin-left: -6rem;
}

.date-and-categories, .card h2{
    margin-bottom: 10px;
}

.card a{

    color: #aaa;
}
.date-and-categories ul{
    display: flex;
}

.date-and-categories ul li{
    margin-right: 5px;
}

.card p{
    font-size: 14px;
    padding-right: 30px;
}

.card ul li{
    font-size: 12px;
}

@media only screen and (max-width: 655px){
    .projects{
        justify-content: center;
        align-items: center;
        padding-left: 0;
        
    }
    
   .card{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 30px;
       margin: 3rem 0;
      
   }
   .card .card-info{
        margin-left: 0;
    }

    .card .imgBox{
        min-width: 15rem;
        max-width:15rem;

        transform: translate(0, -3rem);
    
        position: relative;
    }
    

}