main #contact{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 3rem 2rem 1rem 2rem;
    
    /* background:url(./images/bg.jpg);
    background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fafafa;
    
    
}

#contact .title{
    position: relative;;
}
#contact .title h1:before{
    width: 80px;
    position: absolute;
    height: 4px;
    content: '';
    background-color: #48b1ee;
    top: 70px;
    left: 0%;
    /* transform: translateX(-50%); */
}


main #contact fieldset{
    border: none;
    position: relative;
    width: 100%;
    margin-top: 5px;
    
    
}

main #contact h1{
    /* padding-left: 55px; */
    font-weight: 500;
}


main #contact fieldset input, main #contact textarea{
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    font-size: .9rem;
    border: none;
    border-bottom: 2px solid #e3e3e3;
    resize: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    background: #fafafa

}

main #contact fieldset label{
    position: absolute;
    left: 0;
    font-size: .9rem;
    margin-top: -38px;
    z-index:1000;
    transition: 0.5s;
    color: #9c9c9c;

}

main #contact fieldset #msg-label{
    margin-top: -45px;
    transition: 0.75s;
}
main #contact fieldset input:focus ~ label,
main #contact fieldset input:valid ~ label
{
    color: #e17970;
    font-size: 12px;
    transform: translateY(-20px);
    background: transparent;
}

main #contact button{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    border: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    background: #60BEF5;
    border-radius: 15px;
    transition: 0.3s;
    color: #ffffff;
    font-weight: 600;
}
main #contact button:hover{
    background: #0E91DD;
}

main #contact fieldset textarea:focus ~ label,
main #contact fieldset textarea:valid ~ label{
    color: #e17970;
    font-size: 12px;
    transform: translateY(-105px);
}

main #contact .container{
    width: 100%;
    padding: 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

main #contact .container .contactInfo{
    width: 50%;
    padding-left: 125px;
    display: flex;
    flex-direction: column;
    order: 1;
    
}
main #contact .container .contactInfo img{
    width: 100%;
}

main #contact .container .contactInfo .box{
    padding: 10px 0;
    position: relative;
    display: flex;
}

main #contact .container .contactInfo .box .icon{
    background: #ffffff;
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #contact .container .contactInfo .box .text{
    margin-left: 10px;
}

main #contact .container .contactInfo .box i{
    color: #3F3D56;
}

main #contact .container .contactInfo .box .text h3{
    color: #2DA4EA;
    font-weight: 400;
}

main #contact .container .contactInfo .box .text p{
    color: rgba(0, 0, 0, .7);
}

main #contact .container .contact-form{
    width:50%;
    /* background: #fff; */
    border-radius: 15px;
    padding: 40px;
    /* box-shadow: 0 3px 15px rgba(0, 0, 0, .3); */
    margin-bottom: 20px;
    transition: .3s;

}

main #contact .container .contact-form:hover{
    /* box-shadow: 0 2px 15px rgba(0, 0, 0, .1); */
}

main #contact .container .contact-form h2{
    font-weight: 500;
}

main #contact .thankyou_message{
    display: none; 
    color: #777; 
    padding-top: 20px; 
    font-size: 1rem;
    margin-bottom: -10px;
}

    /* ----------X-------- CONTACT ME PAGE ----------X---------- */

@media only screen and (max-width: 1000px){
    main #contact .container{
        flex-direction: column;
        
    }
 
    #contact .title{
        text-align: center;
    }

    #contact .title h1:before{
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    main #contact .container .contactInfo{
        /* text-align: center;
        padding-right: 0;
        margin-bottom: 2rem; */
        /* display: none; */
        order: 1;
        padding-left: 20px;
        justify-content: center;
        align-items: center;
    }
 
    main #contact .container .contactInfo img{
        max-width: 250px;
    }
    main #contact .container .contact-form, main #contact .container .contactInfo{
        width: 80vw;
    }
 

    main #contact .container .contact-form{
        order: 2;
    }
    main #contact .container .contactInfo .box .text{
        text-align: left;
    }
 
    main #contact .container .contact-form{
        margin-bottom: 3rem;
    }

    main #contact h1{
        padding-left: 0;
        
    }
 
}    

@media only screen and (max-width: 750px){

    main #contact .container .contact-form, main #contact .container .contactInfo{
        width: 90vw;
    }
}

@media only screen and (max-width: 1130px){
    main #contact fieldset label{
        position: relative;
    
    }
}
