/* ----------------- FOOTER ------------------------ */

footer.footer{
    height: 100%;
    background: #ececec;
    position: relative;
    overflow-y: hidden;
    padding: 75px;
    color: #000;
    font-weight: 400;
}

body.dark footer.footer{
    background: rgba(96, 190, 245, 0.5);
}

footer .logo{
    color: #60BEF5;
}

body.dark footer .logo{
    color: #fcfcfc;
}
footer .back-to-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 2%;
    top: 10%;
    margin: -75px;
    /* transform: translateY(-50%); */
}

footer .back-to-top i{
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
footer .back-to-top i:hover{
    color: rgba(0, 0, 0, 0.8);
}

footer .back-to-top p{
    font-size: .6rem;
    font-weight: 600;
    
}

.container{
    position: relative;
}
.divider{
    content:'';
    height: 1px;
    width: 100%;
    background: #fff;
    margin: 20px 0;
}

.quick-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.quick-links .left{
    display: flex;
    /* color: #0b1e2b; */
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

}
.quick-links ul{
    display: flex;
}

.quick-links p{
    padding-right: 10px;
    margin-bottom: 20px;
}

.quick-links ul{
    margin-bottom: 20px;

}
.quick-links ul li{
    padding-right: 10px;
    /* text-decoration: underline; */
    
}

.quick-links ul li a{
    color: rgba(0, 0, 0, 0.7);
    white-space: nowrap;
}

.quick-links ul li a:hover{
    color: rgba(0, 0, 0, 0.9);
}

.quick-links .left p{
    margin-right: 20px;
}
footer .socials{
    margin-left: -9px;
    
}
/* ---------X------- FOOTER -------------X---------- */

@media only screen and (max-width: 550px){
    .quick-links ul:not(.socials), .quick-links .left, .quick-links{
        flex-direction: column;
        align-items: flex-start;
    }

    .quick-links .left ul li{
        padding: 5px 0;
    }

    footer .back-to-top{
        top: 5%;
        right: 3%;
    }

}