/* ----------------- FOOTER ------------------------ */

footer.footer{
    height: 100%;
    background: #2f6275;
    position: relative;
    overflow-y: hidden;
    padding: 75px;
}



footer .back-to-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1%;
    top: 10%;
    margin: -75px;
    /* transform: translateY(-50%); */
}

footer .back-to-top i{
    color: #1c363f;
    cursor: pointer;
}
footer .back-to-top i:hover{
    color:#c5edfa;
}

footer .back-to-top p{
    font-size: .6rem;
    font-weight: 600;
}

.container{
    position: relative;
}
.divider{
    content:'';
    height: 1px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    margin: 20px 0;
}

.quick-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.quick-links .left{
    display: flex;
    color: #0b1e2b;
    white-space: nowrap;
    flex-wrap: wrap;

}
.quick-links ul{
    display: flex;
}

.quick-links p{
    padding-right: 5px;
}
.quick-links ul li{
    padding-right: 5px;
    text-decoration: underline;
    
}

.quick-links ul li a{
    color: #0b1e2b;
    white-space: nowrap;
}

.quick-links ul li a:hover{
    color:#000;
}
/* ---------X------- FOOTER -------------X---------- */

@media only screen and (max-width: 600px){
    .quick-links ul:not(.socials), .quick-links .left, .quick-links{
        flex-direction: column;
        align-items: flex-start;
    }

    .quick-links .left ul li{
        padding: 5px 0;
    }


}