#ft-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#ft-projects .proj-container {
  position: relative;
  margin-top: 8rem;
}

#ft-projects .ft-project {
  position: relative;
  display: flex;
  width: 100%; 
  position: relative;
  justify-content: center;
  align-items: center;
}

#ft-projects .title a {
  text-decoration: underline;
}
#ft-projects .ft-project .proj-image{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

#ft-projects .ft-project .proj-image img{
  max-width: 75%;
  max-height: 100%;
}

#ft-projects .ft-project .proj-image {
  width: 45%;
  height: 100%;
  position: relative;
}

#ft-projects .ft-project .proj-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#ft-projects .ft-project .proj-text h1 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
}
#ft-projects .ft-project .proj-text h2 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #2a77a3;
}
#ft-projects .ft-project .proj-text p {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 0.9rem;
  max-width: 500px;
}

#ft-projects .owl-prev,
#ft-projects .owl-next {
  position: absolute;
  top: 50%;
}

#ft-projects .owl-prev {
  left: 6%;
}

#ft-projects .owl-next {
  left: 92%;
}

#ft-projects {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: 17% 55%;
  overflow: hidden;
}

#ft-projects .btn {
  width: 175px;
}
#ft-projects .owl-dot {
  position: relative;
  top: 50px;
  height: 20px;
  /* background-color: khaki; */
}

#ft-projects .title {
  left: calc(max(10vw, 40px));
  z-index: 50;
}

body.dark #ft-projects h1 {
  color: #f7f7f7;
}

body.dark #ft-projects h2 {
  color: #0e91dd;
}

body.dark #ft-projects .title a:hover {
  color: #d4d4d4 !important;
}
body.dark #ft-projects p,
body.dark #ft-projects .title a {
  color: #d4d4d4 !important;
}

@media only screen and (min-width: 2000px) {
  #ft-projects .proj-text {
    transform: scale(1.3);
    margin-left: 150px;
  }

  #ft-projects .title {
    transform: scale(1.3);
    margin-left: 150px;
  }
}

@media only screen and (max-width: 1100px) {
  #ft-projects .owl-prev {
    left: 5% !important;
  }

  #ft-projects .owl-next {
    left: 92% !important;
  }

}
@media only screen and (max-width: 1200px) {
  #ft-projects .ft-project .proj-text p {
    max-width: 400px;
  }
}


@media only screen and (max-width: 1000px) {
  #ft-projects {
    background-position: 45% 35% !important;
    background-size: 270px;
    padding-bottom: 70px;
  }

  #ft-projects .ft-project .proj-text p {
    max-width: 550px;
  }
  #ft-projects .ft-project {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 4rem;
  }

  #ft-projects .ft-project .proj-image{
    justify-content: center;
    align-items: flex-end;
  }

  #ft-projects .ft-project .proj-image img{
    max-width: 100%;
    padding-bottom: 2rem;
  }
  #ft-projects .ft-project .proj-text {
    align-items: center;
    text-align: center;
  }

  #ft-projects .ft-project .proj-image {
    margin-top: 20px;
  }

  #ft-projects {
    background-position: center 10%;
  }

  #ft-projects .ft-project .proj-text {
    width: 90% !important;
  }

  #ft-projects .owl-dot {
    margin-top: -120px;
  }

  #ft-projects .owl-dot {
    top: 100px;
  }
}


@media only screen and (max-width: 1175px) {
  #ft-projects .title{
    left: 50%!important;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  #ft-projects .title h1:before {
    top: 70px;
    left: 50%!important;
    transform: translateX(-50%);
  }
}