/* --------------------------------- HOME PAGE -------------------------------- */

#home .container {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 3rem);
  overflow: hidden;
}

#sit-img {
  display: none;
}
#home .container:before {
  content: "";
  position: absolute;
  width: 1100px;
  height: 1100px;
  width: 160vh;
  height: 160vh;
  border-radius: 50%;
  background-image: linear-gradient(-45deg, #73cbff 0%, #96d9ff 100%);
  top: 10%;
  right: 60%;
  transform: translateY(-50%);
  z-index: 6;
  transition: 1.8s ease-in-out;
}

#home .container .info-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#home .container .info-container .home-about-me {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  transition: 1s 0.7s ease-in-out;
}

#home .container .info-container .home-about-me div {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 0 5rem;
  overflow: hidden;
  transition: 0.65s 0.7s ease-in-out;
}

#home .container .main-home-content {
  z-index: 1;
  opacity: 0;
  padding-left: 7.5vw!important;
}

#home .container .about-me-content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

#home .container .about-me-content h2 {
  font-size: 3rem;
}
#home .container .home-content {
  display: flex;
  flex-direction: column;
}

#home .container .home-content img {
  display: none;
}
#home .container .home-content h1 {
  font-size: 7rem;
  color: #3f3d56;
}

#home .container .home-content h2 {
  font-size: 3rem;
  color: #3f3d56;
  margin-bottom: -30px;
  padding-left: 10px;
}

#home .container .home-content p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.25rem;
  margin: 10px 0 30px 0;
}

#home .container .home-content .btn {
  width: 200px;
  height: 50px;
}

#home .panels-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#home .panel .content {
  display: flex;
  flex-direction: column;
  color: #fff;
  transition: 0.9s 0.6s ease-in-out;
}

#home .right-panel .content {
  align-items: flex-end;
}

#home .panel .content h3 {
  font-weight: 400;
  margin-bottom: 10px;
}
#home .panel .content .btn {
  width: 130px;
  font-size: 0.9rem;
}

#home .panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3vh 0;
  z-index: 7;
}

#home .left-panel {
  padding: 3rem 17% 2rem 12%;
  align-items: flex-start;
  pointer-events: all;
}

#home .right-panel {
  pointer-events: none;
  padding: 1rem 12% 2rem 17%;
  align-items: flex-end;
}

#home .panel {
  position: relative;
}
#home .panel img {
  position: absolute;
  bottom: 10%;
  width: 70vh;
  max-width: 40vw;
  transition: 1.6s 0.4s ease-in-out;
  pointer-events: none;
}

#home .right-panel .content,
#home .right-panel img {
  transform: translateX(100vw);
}

#home .right-panel img {
  bottom: 15%;
}
/* ANIMATION */

#home .container.home-mode:before {
  transform: translate(100%, -50%);
  right: 45%;
}

#home .container.home-mode .left-panel img,
#home .container.home-mode .left-panel .content {
  transform: translateX(-100vw);
}

#home .container.home-mode .right-panel .content,
#home .container.home-mode .right-panel img {
  transform: translateX(0px);
}

#home .container.home-mode .left-panel {
  pointer-events: none;
}

#home .container.home-mode .right-panel {
  pointer-events: all;
}

#home .container.home-mode .home-about-me {
  left: 25%;
}

#home .container.home-mode .main-home-content {
  z-index: 2;
  opacity: 1;
}

#home .container.home-mode .about-me-content {
  z-index: 1;
  opacity: 0;
}

/* -------------------------------- DARK MODE ------------------------------------ */

body.dark #home .container:before {
  /* background: #5ab1e6; */
  background-image: linear-gradient(
    -45deg,
    #2b9ae0 0%,
    #7dc8f5 100%
  ) !important;
}
body.dark #home h1,
body.dark #home h2,
body.dark #home p {
  color: #f7f7f7 !important;
}

body.dark #home .btn.transparent:hover {
  color: #5ab1e6 !important;
}

body.light #home h1,
body.light #home h2,
body.light #home p {
  color: #3f3d56;
}

/* -------------------------------- MEDIA QUERY ------------------------------------ */

@media only screen and (min-width: 1750px) {
  #home .main-home-content {
    margin-left: 40px;
  }
}
@media only screen and (min-width: 2000px) {
  #home h1 {
    font-size: 11.25vh !important;
  }

  #home h2 {
    font-size: 4.5vh !important;
  }

  #home h3 {
    font-size: 1.725vh !important;
  }

  #home p {
    font-size: 1.875vh !important;
  }

  #home .main-home-content {
    margin-left: 60px;
  }

  #home .main-home-content .btn {
    font-size: 1.7vh;
    max-width: 420px !important;
    width: 350px !important;
    padding: 50px;
    border-radius: 50px;
    margin-top: 20px;
  }

  #home .panel .btn {
    font-size: 1.5vh !important;
    max-width: 420px !important;
    width: 280px !important;
    border-radius: 50px;
    padding: 20px 30px !important;
    margin-top: 20px;
  }
}
@media only screen and (orientation: portrait) and (min-width: 1024px) {
  #home .container {
    height: calc(100vh - 6rem);
  }

  #home .container:before {
    width: 1500px;
    height: 1500px;
    left: 30%;
    bottom: 68%;
    transform: translateX(-50%);
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }
  #home .container .home-content {
    justify-content: center;
    position: relative;
    top: 15vh;
  }

  #home .left-panel {
    padding: 0 !important;
    align-items: flex-start !important;
    margin-left: 5%;
  }
  #home .container .home-content p {
    padding-bottom: 150px;
  }

  #home .container .home-content .btn {
    display: none;
  }
  #home .right-panel {
    padding: 0 !important;
  }
  #home .container .home-content img {
    position: absolute;
    display: block;
    width: 600px;
    right: -5%;
    top: 40px;
  }

  #home .right-panel .content {
    align-items: flex-start;
    padding-left: 2rem;
  }

  #home .left-panel .content {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 !important;
    margin: 0;
  }
  #home .panel .content h3 {
    font-size: 1rem;
  }

  #home .panel .content .btn {
    width: 110px;
    font-size: 0.8rem;
  }
  #home .panel img {
    display: none;
  }
  #home .panel {
    width: 80%;
    justify-content: flex-start !important;
  }

  #home .container .info-container .home-about-me {
    width: 100%;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 100%);
    transition: 1s 0.8s ease-in-out;
  }

  #home .container .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr;
  }

  #home .right-panel .content,
  #home .right-panel img {
    transform: translateX(0px);
  }

  #home .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
  }

  #home .panel img {
    width: 200px;
    transition: 0.9s 0.6s ease-in-out;
  }

  #home .left-panel {
    grid-row: 1 / 2;
  }

  #home .right-panel {
    grid-row: 3 / 4;
  }

  #home .right-panel .content,
  #home .right-panel img {
    transform: translateY(300px);
  }

  #home .panel .content {
    padding-right: 15%;
    transition: 0.9s 0.6s ease-in-out;
  }

  #home .container.home-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  #home .container.home-mode .left-panel img,
  #home .container.home-mode .left-panel .content {
    transform: translateY(-300px);
  }

  #home .container.about-mode .home-about-me {
    top: 10%;
    transform: translate(-50%, 55%);
  }
  #home .container.home-mode .home-about-me {
    top: 5%;
    transform: translate(-50%, -10%);
  }

  #sit-img {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  #home .container {
    height: calc(100vh - 6rem);
  }

  #home .container:before {
    width: 1500px;
    height: 1500px;
    left: 30%;
    bottom: 68%;
    transform: translateX(-50%);
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }
  #home .container .home-content {
    justify-content: center;
    position: relative;

    top: 15vh;
  }

  #home .left-panel {
    padding: 0 !important;
    align-items: flex-start !important;
    margin-left: 5%;
  }
  #home .container .home-content p {
    padding-bottom: 150px;
  }

  #home .container .home-content .btn {
    display: none;
  }
  #home .right-panel {
    padding: 0 !important;
    position: relative;
  }
  #home .container .home-content img {
    position: absolute;
    display: block;
    width: 600px;
    right: -5%;
    top: 40px;
  }

  #home .right-panel .content {
    align-items: flex-start;
    padding-left: 2rem;
    position: relative;
    padding-top: 12vh;
  }

  #home .left-panel .content {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 !important;
    margin: 0;
  }

  #home .panel .content {
    position: relative;
  }
  #home .panel .content h3 {
    font-size: 1rem;
  }

  #home .panel .content .btn {
    width: 110px;
    font-size: 0.8rem;
  }
  #home .panel img {
    display: none;
  }
  #home .panel {
    width: 80%;
    justify-content: flex-start !important;
  }

  #home .container .info-container .home-about-me {
    width: 100%;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 100%);
    transition: 1s 0.8s ease-in-out;
  }

  #home .container .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr;
  }

  #home .right-panel .content,
  #home .right-panel img {
    transform: translateX(0px);
  }

  #home .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
  }

  #home .panel img {
    width: 200px;
    transition: 0.9s 0.6s ease-in-out;
  }

  #home .left-panel {
    grid-row: 1 / 2;
  }

  #home .right-panel {
    grid-row: 3 / 4;
  }

  #home .right-panel .content,
  #home .right-panel img {
    transform: translateY(300px);
  }

  #home .panel .content {
    padding-right: 15%;
    transition: 0.9s 0.6s ease-in-out;
  }

  #home .container.home-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  #home .container.home-mode .left-panel img,
  #home .container.home-mode .left-panel .content {
    transform: translateY(-300px);
  }

  #home .container.about-mode .home-about-me {
    top: 10%;
    transform: translate(-50%, 55%);
  }
  #home .container.home-mode .home-about-me {
    top: 5%;
    transform: translate(-50%, -10%);
  }

  #sit-img {
    display: none;
  }
}

@media only screen and (max-width: 756px) {
  #home .container .home-content img {
    display: none;
  }

  #home .container .home-content {
    align-items: center;
  }
}
@media only screen and (max-width: 570px) {
  #home .container .info-container .home-about-me div {
    padding: 0 1.5rem;
  }

  #home .panel img {
    display: none;
  }

  #home .panel .content {
    padding: 0.5rem 1rem;
  }

  #home .container.container.home-mode:before {
    bottom: 32%;
    left: 50%;
  }

  #home .container.about-mode #sit-img {
    transform: translateY(400px);
  }

  #home .panel .right-panel {
    width: 100%;
    justify-content: center !important;
    align-items: center !important;
  }

  #home .right-panel .content {
    padding-top: 1rem;
  }

  #sit-img {
    display: block !important;
    position: absolute;
    bottom: 50% !important;
    right: 0%;
    margin-right: -35%;
    width: 35vh !important;
    max-width: 35vh !important;
  }
}

@media only screen and (max-width: 426px) {
  #home .container .info-container h2 {
    font-size: 2.5rem;
  }
  #home .container .home-content h1 {
    font-size: 5rem;
  }

  #home .container .home-content p {
    font-size: 1rem;
    white-space: nowrap;
  }
}
