/* --------------------------------- HOME PAGE -------------------------------- */

#home .container{
    position: relative;
    width: 100%;
    min-height: calc(100vh - 3rem);
    overflow: hidden;
}

#sit-img{
    display: none;
}
#home .container:before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: #73CBFF;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
}

#home .container .info-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#home .container .info-container .home-about-me{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}

#home .container .info-container .home-about-me div{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0 5rem;
    overflow: hidden;
    transition: 0.2s 0.7s ease-in-out;
}

#home .container .main-home-content{
    z-index: 1;
    opacity: 0;
}

#home .container .about-me-content{
   z-index: 2;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   text-align: right;

}

#home .container .about-me-content h2{
    font-size: 3rem;
}
#home .container .home-content{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* background: #fff; */
}

#home .container .home-content img{
    display: none;
}
#home .container .home-content h1{
    font-size: 7rem;
    color: #3F3D56;
}

#home .container .home-content h2{
    font-size: 3rem;
    color: #3F3D56;
    margin-bottom: -30px;
    padding-left: 10px;
}

#home .container .home-content p{
    color: rgba(0,0,0,.7);
    font-size: 1.25rem;
    margin: 10px 0 30px 0;
   
}
#home .container .home-content .btn{
    width: 200px;
    height: 50px;
}

#home .panels-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#home .panel .content{
    display: flex;
    flex-direction: column;
    color: #fff;
    transition: .9s .6s ease-in-out;
}

#home .right-panel .content{
    align-items: flex-end;
}

#home .panel .content h3{
    font-weight: 400;
    margin-bottom: 10px;
}
#home .panel .content .btn{
    width: 150px;
    font-size: 1rem;
}

#home .panel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3vh 0;
    z-index: 7;
    
}

#home .left-panel{
    padding: 3rem 17% 2rem 12%;
    align-items: flex-start;
    pointer-events: all;
}

#home .right-panel{
    pointer-events: none;
    padding: 1rem 12% 2rem 17%;
    align-items: flex-end;
}

#home .panel img{
    width: 100%;
    transition: 1.6s .4s ease-in-out;
}

#home .right-panel .content, #home .right-panel img{
    transform: translateX(800px);
}

/* ANIMATION */

#home .container.home-mode:before{
    transform: translate(100%, -50%);
    right: 52%;
}

#home .container.home-mode .left-panel img, 
#home .container.home-mode .left-panel .content{
    transform: translateX(-800px);
} 

#home .container.home-mode .right-panel .content, 
#home .container.home-mode .right-panel img{
    transform: translateX(0px);
}

#home .container.home-mode .left-panel{
    pointer-events: none;
}

#home .container.home-mode .right-panel{
    pointer-events: all;
}

#home .container.home-mode .home-about-me{
    left: 25%;
}

#home .container.home-mode .main-home-content{
    z-index: 2;
    opacity: 1;
}

#home .container.home-mode .about-me-content{
    z-index: 1;
    opacity: 0;
}

@media only screen and (max-width: 870px){
    #home .container{
        height: calc(100vh - 6rem);
    }

    #home .container:before{
        width: 1500px;
        height: 1500px;
        left: 30%;
        bottom: 68%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }
    #home .container .home-content{
        /* align-items: flex-end; */
        /* margin-top: 3rem; */
        justify-content: center;
        /* background: lightgray; */
        position: relative;
        
        top: 15vh;
    }
    
    #home .left-panel {
        /* margin: 20px;
        margin-top: 0;
        
        align-items: flex-start!important;
        width: 110px!important;
        height: 80px; */
        padding: 0!important;
        align-items: flex-start!important;
        margin-left: 5%;
        
        
    }
    #home .container .home-content p{
        padding-bottom: 150px;
    }

    #home .container .home-content .btn{
        display: none;
    }
    #home .right-panel{
        padding: 0!important;
    }
    #home .container .home-content img{
        position: absolute;
        display: block;
        width: 600px;
        right: -5%;
        top: 40px;
       
        
    }

    #home .right-panel .content{
        align-items: flex-start;
        padding-left: 2rem;
    }

    #home .left-panel .content{
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0!important;
        margin: 0;
    }
    #home .panel .content h3{
        font-size: 1rem;
    }
    
    #home .panel .content .btn{
        width: 110px;
        font-size: .8rem;
    }
    #home .panel img{
        display: none;
    }
    #home .panel{
        /* justify-content: space-between!important; */
        width: 80%;
        justify-content: flex-start!important;
       
        
        
    }

    #home .container .info-container .home-about-me{
        width: 100%;
        left: 50%;
        top: 0%;
        transform: translate(-50%, 100%);
        transition: 1s 0.8s ease-in-out;
    }

    #home .container .panels-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr;

    }

    #home .right-panel .content, #home .right-panel img{
        transform: translateX(0px);
    }

    #home .panel{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
    }

    #home .panel img{
        width: 200px;
        transition: 0.9s 0.6s ease-in-out;
    }

    #home .left-panel{
        grid-row: 1 / 2;
    }

    #home .right-panel{
        grid-row: 3 / 4;
    }

    #home .right-panel .content, #home .right-panel img{
        transform: translateY(300px);
    }

    #home .panel .content{
        padding-right: 15%;
        transition: 0.9s 0.6s ease-in-out;
    }

    #home .container.home-mode:before{
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }

    #home .container.home-mode .left-panel img, 
    #home .container.home-mode .left-panel .content{
        transform: translateY(-300px);
    }

    #home .about-me-content{
    }

    #home .container.about-mode .home-about-me{
        top: 10%;
        transform: translate(-50%, 55%);
    }
    #home .container.home-mode .home-about-me{
        top: 5%;
        transform: translate(-50%, -10%);
    }

    #sit-img{
        display: none;
    }
}

@media only screen and (max-width: 756px){
    #home .container .home-content img{
       display: none;
       
        
    }

    
    #home .container .home-content{
       align-items: center;
    }

    
}
@media only screen and (max-width: 570px){
    #home .container .info-container .home-about-me div{
        padding: 0 1.5rem;
    }

    #home .panel img{
        display: none;
    }

    #home .panel .content{
        padding: 0.5rem 1rem;

    }

    #home .container.container.home-mode:before{
        bottom: 32%;
        left: 50%;
    }

    #home .container.about-mode #sit-img{
        transform: translateY(400px);
    }

    #home .panel .right-panel{
        /* justify-content: space-between!important; */
        /* width: 80%;
        margin-left: 10%; */
        width: 100%;
        justify-content: center!important;
        align-items: center!important;
        /* background: gray; */
       
        
        
    }

    

    #home .right-panel .content{
        padding-top: 1rem;
        align-items: center;
        /* padding-left: 2rem; */
    }

    #sit-img{
        display: block!important;
        position: absolute;
        bottom: 20%;
        /* background:red; */
        right: 0%;
        margin-right: -10%;
        width: 35vh!important;
    }
}

@media only screen and (max-width: 426px){
    #home .container .info-container h2{
        font-size: 2.5rem;
    }
    #home .container .home-content h1{
        font-size: 5rem;
    } 

    #home .container .home-content p{
        font-size: 1rem;
        white-space: nowrap;
    } 
}