/* ----------- FOR THE SINGULAR PROJECT BLOG PAGE ------------------ */
.custom-shape-divider-top-1610072543 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1610072543 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1610072543 .shape-fill {
    fill: #0f1c33;
}

.custom-shape-divider-bottom-1610072600 {
    position: absolute;
    bottom: 120px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1610072600 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1610072600 .shape-fill {
    fill: #0f1c33;
}
#proj-header{
    position: relative;
}
#proj-header .img-box{
  background: url("../images/projects/bbug.png") no-repeat;
  height: 500px;
  background-color: #2DA4EA;
  background-attachment: fixed;
  background-position: center 150px;
  -webkit-background-size: calc(min(90vw, 600px));
  -moz-background-size: calc(min(90vw, 600px));
  -o-background-size: calc(min(90vw, 600px));
  background-size: calc(min(90vw, 600px));
  background-size: calc(min(90vw, 600px));
}


#proj-header h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  padding-top: 50px;
  position: relative;
}

#proj-header h1::before {
    width: 120px;
    position: absolute;
    height: 4px;
    content: "";
    background-color: #48b1ee;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
#proj-header p {
  font-weight: 300;
}

#proj-info {
  padding: 50px;
}

#proj-info .info-container{
    margin: 70px 0;
}

#proj-info .info-container .overview, #proj-info .info-container .learned{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
#proj-info .info-container .overview h1, #proj-info .info-container .learned h1{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    width: calc(min(700px, 85vw));
}

#proj-info .info-container .learned h1{
    width: 100%;
}

#proj-info .info-container .overview h1 span{
    color: #2DA4EA;
}

.info-container ul{
    display: flex;
}
.info-container ul li{
    padding: 20px;
}

.info-container ul a{
    color: #919191;
    text-decoration: underline;
}

.info-container ul a:hover{
    color: #333;
}
.proj-facts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px 0;
    text-align: center;
   
}

.proj-facts .fact{
    padding: 20px;
}

.proj-facts img{
    width: 85px;
}



.proj-facts h3{
    font-weight: 600;
    padding-top: 10px;
    /* text-transform: uppercase; */
}

.built {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    
}
.built .step{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 0 20px 20px 20px;
}

.built .step h1{
    font-weight: 400;
    font-size: 4rem;
    color: #2DA4EA;
    position: relative;
    padding-bottom: 25px;
}
.built .step h1::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    bottom: 15px;
    left: 2px;
    background-color: #d7d7d7;
}

.built .step h2{
    text-transform: uppercase;
    font-weight: 600;
}

.built .step p{
    color: rgba(0, 0, 0, 0.7)
}

.learned p, .learned li{
    font-weight: 300;
    line-height: 2.25rem;

}

.learned p{
    padding: 30px 0;
}

.learned ul{
    display: inline-block;
    flex-direction: column;
    width: calc(min(1000px, 85vw));

}

.learned ul li{
    list-style: initial;
    padding: 10px;
}

.learned ul li span{
    font-weight: 700;
}

.accomp .metrics-container{
    position: relative;
    width: 100%;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.metric {
    background-color: transparent;
    width: 200px;
    height: 200px;
    margin: 30px;
    
    /* perspective: 1000px;  */
  }
    .metric-content {
    position: relative;
    width: 100%;
    height: 100%;
    
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .metric:hover .metric-content {
    transform: rotateY(180deg);
  }
  
  .metric-front, .metric-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .metric-front {
    
    background-color: transparent;
    color: #000000;
    
  }
  
  .metric-front i{
      position: relative;
      top: -3px;
      font-size: 12px;
      backface-visibility: hidden;
  }
  /* Style the back side */
  .metric-back {
    background-color: #2DA4EA;

    transform: rotateY(180deg);
  }

  .pics{
       display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;

  }
.owl-prev{
    left: 20vw;
    top: 50%;
}

.owl-next{
    right: 20vw;
    top: 50%;
}
  .pictures-container{
    position: relative;
    width: 80vw;
    max-height: 80vh;
      
      
  }

  .owl-carousel .owl-stage {
      position: relative;
    display: flex;
    align-items: center;
  }
  .pictures-container .image{
      position: relative;
      margin: 20px;
      text-align: center;

  }

  .pictures-container .image p{
      margin: 10px 0;
  }
  .pictures-container .image img{
    position: relative;
    /* max-height:40vh; */
    max-width:40vw;
    width: auto;
    height: auto;
    /* top: 75%; */
    left: 50%;
      transform: translateX(-50%);
    
  }

  


@media only screen and (max-width: 900px){
    .proj-facts{
        grid-template-columns: repeat(2, 1fr);
    }

    .proj-facts .fact{
        padding: 20px;
    }

    .pictures-container .image img{
        max-width: 80vw;
    }

    .owl-prev{
        left: -20px;
        top: 50%;
        transform: translateX(-50%);
    }
    
    .owl-next{
        right: -22px;
        top: 50%;
        transform: translateX(-50%);
    }
   
}

@media only screen and (max-width: 320px){
    .metric{
        margin: 30px 0;
    }
}
@media only screen and (max-width: 700px){
    .built {
        text-align: center;
    }

    .built .step h1::before{
        left: 50%;
        width: 55px;
        transform: translateX(-50%);
    }

    #proj-header .img-box{
        background-position: center 30%;
    }
}

@media only screen and (max-width: 550px){
    .proj-facts{
        grid-template-columns: repeat(1, 1fr);
        /* text-align: left; */
    }

    .proj-facts .fact{
        padding: 15px 0;
    }
    /* #proj-info {
        
        padding: 50px 0px;
      }


    #proj-info .info-container {
        padding: 40px 30px;
      } */
}

body.dark h1, body.dark .step h2{
    color: #f7f7f7
}

body.dark .step p{
    color: #FFFFFF80
}
body.dark .proj-facts h3{
    color: #2A77A3;
}

body.dark #proj-info p, body.dark #proj-info li{
    color: #d4d4d4;
}

footer #attribution{
    display: inline;
}