#up-to {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 75px 0;
}

#up-to .title, #doing .title{
  /* position: absolute; */
  /* top: 5rem; */
  position: relative;
  text-align: center;
}

#all-projects .title h1:before {
  width: 80px;
  position: absolute;
  height: 4px;
  content: "";
  background-color: #48b1ee;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
}

#up-to .title h1:before, #doing .title h1:before{
  width: 80px;
  position: absolute;
  height: 4px;
  content: "";
  background-color: #48b1ee;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
}

#up-to .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-top: 40px;
  position: relative;
}
#up-to .cards .card {
  width: 260px;
  height: 350px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 40px 25px;
  margin: 7px;
  text-align: center;
  overflow: hidden;
  transition: 0.3s;
  border-bottom: 5px solid #fff;
}

#up-to .cards .card:hover {
  transform: translateY(-5px);
  border-bottom: 5px solid #60bef5;
}

#up-to .cards .card p {
  font-size: 0.8rem;
}

#up-to .cards .card h1 {
  position: absolute;
  font-size: 4rem;
  top: -7%;
  left: 15%;
  color: rgba(89, 120, 135, 0.05);
  font-weight: 800;
}

#up-to .cards .card h3 {
  font-size: 1.5rem;
}

#up-to .cards .card .btn {
  font-size: 0.8rem;
  height: 38px;
  /* padding-left: 15px;
  padding-right: 15px; */
}

#up-to .cards .card .imgBox {
  width: 40%;
}

/* -------------------------------- DARK MODE ------------------------------------ */

body.dark #up-to .title h1, body.dark #doing .title h1 {
  color: #fcfcfc;
}

body.dark #up-to .cards .card {
  background: #20304d;
  border-bottom: 5px solid #20304d;
}

body.dark #up-to .cards .card h3 {
  color: #fcfcfc;
}

body.dark #up-to .cards .card p {
  color: #d4d4d4;
}

body.dark #up-to .cards .card:hover {
  border-bottom: 5px solid #fcfcfc;
}
/* -------------------------------- MEDIA QUERY ------------------------------------ */

@media only screen and (max-width: 900px) {
  #up-to .cards {
    /* width: 600px; */
  }

  #up-to .owl-prev {
    left: calc(50% - 300px);
  }

  #up-to .owl-next {
    left: calc(50% + 285px);
  }
}

@media only screen and (max-width: 900px) {
  /* #up-to .cards {
    top: 40px !important;
  }

  #up-to {
    min-height: 1000px;
    margin-bottom: 100px;
  } */
}

@media only screen and (max-width: 587px) {
  /* #up-to {
    min-height: 1350px;
    margin-bottom: 200px;
  }
  #up-to .cards {
    top: 50px !important;
  } */
}

@media only screen and (min-width: 2000px) {
  main #up-to .cards,
  #up-to .title {
    transform: scale(1.3);
  }

  #up-to .cards {
    top: 150px;
    margin-bottom: 150px;
  }
}
