#up-to{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#up-to .title{
    position: absolute;
    top: 5rem;
    
    text-align: center;
    
}

#up-to .title h2, #featured-projects .title h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #48b1ee;
    font-weight: 500;
    font-size: .9rem;
}

#up-to .title h1, #featured-projects .title h1{
    font-size: 1.8rem;
    font-weight: 700;
    color: #000;
}

#up-to .title h1:before{
    width: 30%;
    position: absolute;
    height: 4px;
    content: '';
    background-color: #48b1ee;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
}


#up-to .container{
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 80px;
    margin-top: 9.5rem;
    /* background: #fff; */
    /* padding: 0 80px; */
    
    
}

#up-to .container .card{
    position: relative;
    height: 200px;
    background: #fff;
    display: flex;
    width: 38%;
    margin: 30px 45px;
    
    border-radius: 15px;
    transition: .5s;
    box-shadow: 0 0 0 rgba(0,0,0, 0);

}

#up-to .container .card .imgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    
    overflow: hidden;
    transition: 0.5s ease-in-out;
    background: #0F1C33;
    border-radius: 15px;
}

#up-to .container .card .imgBox img{
    position: absolute;
    /* background: #60BEF5; */
    top: 0;
    max-width: 125px;
    margin-top: 20px;
    transition: 0.5s ease-in-out;

}

#up-to .container .card:hover{
    box-shadow: .5rem .5rem 1rem rgba(0,0,0, 0.2);
}
#up-to .container .card:hover .imgBox img{
    max-width: 80px;
    top: initial;
    margin-top: initial;
    position: initial;
    transition: 0.5s ease-in-out;
   
}

#up-to .container .card:hover .imgBox{
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background: #60BEF5;
    align-items: center;
}

#up-to .container .card:hover .imgBox:before{
    color: transparent;
    transition: 0.5s ease-in-out;
}

#up-to .container .card .imgBox:before{
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 700;
    color:rgba(255, 255, 255, 0.3);
    transition: 0.5s ease-in-out;
}

#up-to .container .card .content{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#up-to .container .card .content h3{
    margin-bottom: 5px;
    font-size: 1.5rem;
}

@media only screen and (max-width: 1150px){
    #up-to .container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #up-to .container .card{
        width: 400px;
    }

    #up-to .container .card .imgBox:before{
        font-size: 5rem;
    }

    #up-to .container .card{
        box-shadow: .5rem .5rem 1rem rgba(0,0,0, 0.2);
    }

    
}

@media only screen and (max-width: 768px){
    #up-to .container .card{
        max-width: 300px;
        flex-direction: column;
        height: auto;
    }

    #up-to .container .card .imgBox{
        position: relative;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

    }

    #up-to .container .card .imgBox,
    #up-to .container .card:hover .imgBox
    {
        width: 100%;
        height: 200px;
        left: 0;
        
    }

    #up-to .container .card .imgBox img,
    #up-to .container .card:hover .imgBox img{
        max-width: 100px;
    }

    #up-to .container .card .content{
        position: relative;
        width: 100%;
    }
    #up-to .container .card .imgBox:before{
        font-size: 3rem;
    }

    #up-to .container .card:hover .imgBox:before{
        color: rgba(255, 255, 255, 0.3);
       
    }

    #up-to .container .card:hover .imgBox{
        background: #60BEF5;
    }

    #up-to .container .card:hover .imgBox img{
        position: absolute;
        top: 0;
        margin-top: 20px;
        transition: 0.5s ease-in-out;
    }

    
    
}