/* ----------- FOR THE SINGULAR PROJECT BLOG PAGE ------------------ */


h1{
    text-align: left;
}

section{
    margin: 3%;
    position: relative;

}

h2{
    margin-top: 20px;
}

section .content{
    position: relative;
    display: grid;
    grid-template-columns: 70% 30%;
  
}

.post-text p{
    margin: 10px 0;
}

.post-image{
    position: relative;
    width: 85%;
}
.post-info{
    display: flex;
    justify-content: space-around;
    min-width: 40%;
    align-items: center;
    padding: 10px;
    background-color: lightblue;
    border-radius: 25px;
    font-size: calc(max(1.2vw, 12px));
    white-space: nowrap;
    
}

.test{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

.post-text{
    display: inline-block;
}
.post-image img{
    width: 100%;
}

.category{
    margin-bottom: 20%;
}
.category-list{
    margin: 5% 0;
    width: 80%;
}

.category-list li{
    text-align: center;
    padding: 10px 0;
    background-color: lightblue;
    margin: 4% 0;
    border-radius: 25px;
}

.built-with-list{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.built-with-list li{
    text-align: center;
    padding: 10px 20px;
    background-color: lightblue;
    margin: 2% 1%;
    border-radius: 25px;
}


@media only screen and (max-width: 750px) {
    section{
        margin: 6%;
        margin-bottom: 80px;
    
    }

    section .content{
        grid-template-columns: 100%!important;
    }

    .post-image{
        width: 100%;
    }
}